{% extends 'index.html' %}

{% block content %}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About Us</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="static/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3> -->
          <p class="fst-italic">
            The website's idea is to assist users in identifying illnesses they may be experiencing.
          </p>
          <p class="fst-italic">
            The website will help the user in identifying their ailment by merely inputting (selecting) the symptoms that they have.
          </p>
          <p class="fst-italic">
            The website also provides a treatment for the user's disease.
          </p>
          <h6>Objectives</h6>
          <ul>
            <li><i class="bi bi-check-circled"></i> Our goal is to assist you figure out what disease you can have in a short period of time and to always know if your symptoms are serious or not.</li>
            <li><i class="bi bi-check-circled"></i> We also want you to secure the best treatment possible for your symptoms, which is why we provide the treatment options for each disease.</li>
            <li><i class="bi bi-check-circled"></i> Another goal of this website is to improve people's knowledge about diseases and their symptoms.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

{% endblock %}
