<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Register </title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/assets/css/form-elements.css">
        <link rel="stylesheet" href="../static/assets/css/style.css">
    </head>

    <body>

        
        <!-- Top content -->
        <div class="top-content">
                    
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Signup Information</strong></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Signup to our site</h3>
                                    <p>Enter your information to log on:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="register" method="post" class="login-form">
                                    {% csrf_token %}
                                    {% for message in messages %}
                                    <h3>{{message}}</h3>
                                    {% endfor %}
                                    <div class="form-group">
                                        <label class="sr-only" for="username">User Name</label>
                                        <input type="text" placeholder="User name..." class="form-username form-control" name="username" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="email">Email</label>
                                        <input type="email" placeholder="Email..." class="form-username form-control" name="email" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="password1">New Password</label>
                                        <input type="password" placeholder="Password..." class="form-password form-control"  name="password1" id="password1">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="password2">Confirm Password</label>
                                        <input type="password" placeholder="Confirm Password..." class="form-password form-control"  name="password2" id="password2">
                                    </div>
                                    <button type="submit" class="btn">Sign in !</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                            <div class="social-login-buttons">
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                                <a class="btn btn-link-2" href="{% url 'login' %}">
                                    <i class="fa fa-lock"></i> Login
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="../static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/assets/js/jquery.backstretch.min.js"></script>
        <script src="../static/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="../static/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>