<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<title>admin | login</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="../static/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../static/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../static/global/plugins/select2/select2.css" rel="stylesheet" type="text/css"/>
<link href="../static/admin/pages/css/login-soft.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="../static/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="../static/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="../static/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="../static/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
<link href="../static/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
	<img src="../static/img/logo_admin.png" alt="" style="width:10%"/>
	</a>
</div>
<!-- END LOGO -->

<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" action="adminLogin" method="post" role="form">
		<h3 class="form-title">Login to your admin account</h3>
      {% csrf_token %}
      {% for message in messages %}
      <h4>{{message}}</h4>
      {% endfor %}
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. </span>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="admin_username"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="admin_password"/>
			</div>
		</div>

		<div class="login-options">
			<ul class="social-icons">
				<li>
					<a class="facebook" data-original-title="facebook" href="javascript:;">
					</a>
				</li>
				<li>
					<a class="twitter" data-original-title="Twitter" href="javascript:;">
					</a>
				</li>
				<li>
					<a class="googleplus" data-original-title="Goole Plus" href="javascript:;">
					</a>
				</li>
				<li>
					<a class="linkedin" data-original-title="Linkedin" href="javascript:;">
					</a>
				</li>
				<button type="submit" class="btn blue pull-right">
			Login <i class="m-icon-swapright m-icon-white"></i>
			</button>
			</ul>
			
		</div>
		<div class="forget-password">
		</div>
		<div class="create-account">
		</div>
	</form>
	<!-- END LOGIN FORM -->
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="forget-form" action="index.html" method="post">
		<h3>Forget Password ?</h3>
		<p>
			 Enter your e-mail address below to reset your password.
		</p>
		<div class="form-group">
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
			</div>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn">
			<i class="m-icon-swapleft"></i> Back </button>
			<button type="submit" class="btn blue pull-right">
			Submit <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</form>
	
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
	 2022 &copy; CareMore - Admin Dashboard .
</div>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../static/global/plugins/respond.min.js"></script>
<script src="../static/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="../static/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../static/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/global/plugins/select2/select2.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../static/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../static/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../static/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../static/admin/pages/scripts/login-soft.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {     
  Metronic.init(); // init metronic core components
Layout.init(); // init current layout
  Login.init();
  Demo.init();
       // init background slide images
       $.backstretch([
        "../static/admin/pages/media/bg/1.jpg",
        "../static/admin/pages/media/bg/2.jpg",
        "../static/admin/pages/media/bg/3.jpg",
        "../static/admin/pages/media/bg/4.jpg"
        ], {
          fade: 1000,
          duration: 8000
    }
    );
});
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>